body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(219, 219, 219);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    min-height: 100dvh;
}
#project-container{
    /* outline: 1px solid red; */
}

#project-container a:hover{
    transform: scale(1);
    box-shadow: 3px 3px 0 whitesmoke;
    border: 2px solid black;
}
#project-container a:hover h4{
    text-decoration: underline;
}
/*  Footer  */
footer{

}