:root{
    --primary: rgba(255, 255, 255, 0.25);
}
body{
    background-color: var(--primary);
}
main{
    min-height: 100dvh;
    /* outline: 1px solid rgba(255, 0, 0, 0.5); */
    width: 80%;

}
#task-container, #addTask, #completed-container{
    background-color: var(--primary);
    border-radius: 10px;
}
input{
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    color: whitesmoke;
}
input:focus{
    outline: none;
    box-shadow: none;
}
input::placeholder{
    color: lightgray;
}
input[type="checkbox"]{
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor:  pointer;
    border: 2px solid lightgray;
}
input[type="checkbox"]:checked{
    background-color: green;
    color: green;
}
input[type="checkbox"]:hover{
    /* background-color: lightgray; */
}