<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comments</title>
</head>
<body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="post">
        <Label for="username">Enter Username: </Label>
        <input type="text" placeholder="Username" name="username"><br>
        <label for="comment">Comment Text</label>
        <textarea name="comment" id="comment"></textarea>
        <button type="submit">Submit</button>
    </form>
    <a href="/comments">Nervermind</a>
</body>
</html>