#calc-container{
    width: 500px;
    height: 600px;
    padding: 20px;
}
#output #previous{
    height: 30px;
    /* outline: grey 1px solid; */
    color: gray;
}
#output #current{
    font-size: 30px;
    color: whitesmoke;
}
#numbers{
    grid-template-columns: 20% 20% 20% 20%;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}
#numbers .btn{
    width: auto;
    height: 80px;
    font-weight: bolder;
    color: whitesmoke;
}
#keys{
    display: flex;
    justify-content: space-around;
}
#keys button{
    width: 40%;
    height: 50px;
    font-weight: bolder;
}
main{
    min-height: 100dvh;
}
